[project]
	description = Repository pattern for Windows Azure Cloud Storage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Richard Bogle (Boggin)
[access "refs/for/refs/*"]
	read = group user/Richard Bogle (Boggin)
	push = group user/Richard Bogle (Boggin)
	label-Code-Review = -2..+2 group user/Richard Bogle (Boggin)
	label-Verified = -1..+1 group user/Richard Bogle (Boggin)
	rebase = group user/Richard Bogle (Boggin)
	removeReviewer = group user/Richard Bogle (Boggin)
	submit = group user/Richard Bogle (Boggin)
[access "refs/heads/*"]
	read = group user/Richard Bogle (Boggin)
	create = group user/Richard Bogle (Boggin)
	push = +force group user/Richard Bogle (Boggin)
	pushMerge = group user/Richard Bogle (Boggin)
[access "refs/tags/*"]
	push = +force group user/Richard Bogle (Boggin)
	pushTag = group user/Richard Bogle (Boggin)
	pushSignedTag = group user/Richard Bogle (Boggin)
